.container {
  display: flex;
  height: 100vh;
}

.playing {
  flex: 9;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
    url("../assets/kbc_img.jpg");
  background-position: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  color: white;
}

.prize {
  font-size: 28px;
}

.btn {
  padding: 1rem 3rem;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  border: nonr;
}
