.timerContainer {
  flex: 1;
  width: 100%;
}

.questionContainer {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.question {
  width: 85%;
  border: 1px solid white;
  padding: 1rem 3rem;
  color: white;
  font-size: 20px;
  /* background-color: #020230; */
  background: linear-gradient(to right, #100241, #000);
  border-radius: 10px;
  text-align: center;
}

.options {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.option {
  margin-top: 1rem;
  flex-basis: 45%;
  background: linear-gradient(to right, #100241, #000);
  color: white;
  text-align: center;
  padding: 1rem 3rem;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.option:hover,
.option.active {
  background: slateblue;
}

.correct {
  animation-name: correct;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes correct {
  0%,
  22%,
  42%,
  62% {
    background: blue;
  }
  20%,
  40%,
  60% {
    background: #020230;
  }

  100% {
    background: green;
  }
}
.wrong {
  animation-name: wrong;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes wrong {
  0%,
  22%,
  42%,
  62% {
    background: blue;
  }
  20%,
  40%,
  60% {
    background: #020230;
  }

  100% {
    background: crimson;
  }
}
